flake8==6.1.0          # Базовый линтер
black==23.9.1          # Форматер кода
isort==5.12.0          # Сортировка импортов
mypy==1.5.1            # Проверка типов
pre-commit==3.3.3      # Git hooks
pytest=8.4.1           # Тесты